name: Basic library (ipfs_client) build
on:
  push:
jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: true
      matrix:
        config:
          - {
              name: "macOS",
              os: macos-latest,
              build_type: "Release",
              cc: "clang",
              cxx: "clang++",
              generators: "Ninja"
            }
          - {
            name: "Ubuntu",
            os: ubuntu-latest,
            build_type: "Release",
            cc: "gcc",
            cxx: "g++",
            generators: "Ninja"
          }
    steps:
      - uses: actions/checkout@v3
      - name: Print env
        run: |
          echo github.event.action: ${{ github.event.action }}
          echo github.event_name: ${{ github.event_name }}
          pwd
          git status
          which python3 
          python3 --version
      - name: Install dependencies on Ubuntu
        if: startsWith(matrix.config.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install --yes cmake ninja-build
          ninja --version
          cmake --version
          g++ --version
      - name: Install dependencies on macos
        if: startsWith(matrix.config.os, 'macos')
        run: |
          brew install cmake ninja
          ninja --version
          cmake --version
      - name: Configure
        shell: bash
        run: |
          mkdir build
          mkdir ipfs-client-dev
          cmake \
            -G "${{ matrix.config.generators }}" \
            -S . \
            -B build \
            -D CMAKE_INSTALL_PREFIX=`pwd`/ipfs-client-dev \
            -D CMAKE_BUILD_TYPE=${{ matrix.config.build_type }}
      - name: Build
        shell: bash
        run: cmake --build build --config ${{ matrix.config.build_type }} --target package
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: static_library.${{ matrix.config.os }}
          path: build/library/libipfs_client.a # TODO .lib naming on Windows
          retention-days: 1
      - name: Coverage
        if: startsWith(matrix.config.os, 'ubuntu')
        shell: bash
        run: |
          sudo apt-get install --yes lcov binutils
          cmake -B build # So CMake knows lcov etc exists now
          cmake --build build --config ${{ matrix.config.build_type }} --target cov
      - name: HTML Preview
        id: html_preview
        uses: pavi2410/html-preview-action@v2
        with:
          html_file: 'build/library/cov/index.html'
      - name: Upload Coverage Report
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'build/library/cov/'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
